<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxQueryString="4096" />
            </requestFiltering>
        </security>
        <rewrite>
	        <rules>
	        	<rule name="HTTP to HTTPS redirect" enabled="true" stopProcessing="true">
				  <match url="(.*)" />
				    <conditions>
				      <add input="{HTTPS}" pattern="off" ignoreCase="true" />
				    </conditions>
				  <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
				</rule>
				<!-- <rule name="Redirect .php extension" enabled="false" stopProcessing="false">
				  <match url="^(.*).php$" ignoreCase="true" />
					<conditions logicalGrouping="MatchAny">
					  <add input="{URL}" pattern="(.*).php$" ignoreCase="false" />
					</conditions>
				      <action type="Redirect" url="{R:1}" redirectType="Permanent" />
				</rule>
				    <rule name="hide .php extension" enabled="false" stopProcessing="true">
				      <match url="^(.*)$" ignoreCase="true" />
					<conditions>
					  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					  <add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
					</conditions>
				      <action type="Rewrite" url="{R:0}.php" />
			    </rule> -->
	    	</rules>
    	</rewrite>
    </system.webServer>
</configuration>
